{% load static %}
<!-- about -->
    <div class="row no-gutters pb-5">
        <div class="col-sm-4">
            <div class="hovereffect">
                <img class="img-fluid" src="{% static 'images/a1.jpg' %}" alt="">
                <div class="overlay">
                    <h5>women's fashion <br> 30%</h5>
                    <a class="info" href="{% url 'women' %}">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="hovereffect">
                <img class="img-fluid" src="{% static 'images/a2.jpg' %}" alt="">
                <div class="overlay">
                    <h5>men's fashion <br> 30%</h5>
                    <a class="info" href="{% url 'men' %}">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="hovereffect">
                <img class="img-fluid" src="{% static 'images/a3.jpg' %}" alt="">
                <div class="overlay">
                    <h5>kid's fashion <br> 30%</h5>
                    <a class="info" href="{% url 'girls' %}">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- //about -->