<!DOCTYPE html>
<html lang="zxx">
{% load static %}

<head>
    <title>Nepal_Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="{% static 'css/shop.css' %}" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- Owl-Carousel-CSS -->
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>
    
    {% block header %}

    {% endblock header %}

   {% block banner %}

   {% endblock banner %}
   
    {% block services %}

    {% endblock services %}
    
    {% block about %}

    {% endblock about %}
   
   {% block product %}

   {% endblock product %}
   
   {% block insta_post %}

   {% endblock insta_post %}

   {% block footer %}
   
   {% endblock footer %}
   
   {% block signup %}

   {% endblock signup %}
    
    {% block script %}
    
    {% endblock script %}
</body>

</html>