{% load static %}
 <!-- insta posts -->
    <section class="py-lg-5">
        <!-- insta posts -->
        <h5 class="head_agileinfo text-center text-capitalize pb-5">
            <span>s</span>hop on insta</h5>
        <div class="gallery row no-gutters pt-lg-5">
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i1.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 56</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 2</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i2.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 89</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 5</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i3.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 42</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 1</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i4.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 38</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 0</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i5.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 38</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 0</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i6.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 38</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 0</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gallery row no-gutters pb-5">
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i7.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 56</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 2</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i8.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 89</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 5</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i9.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 42</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 1</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i10.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 38</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 0</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i11.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 38</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 0</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6 gallery-item">
                <img src="{% static 'images/i12.jpg' %}" class="img-fluid" alt="" />
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes">
                            <i class="fas fa-heart"></i> 38</li>
                        <li class="gallery-item-comments">
                            <i class="fas fa-comment"></i> 0</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- //insta posts -->