{% extends "partials/base.html" %}
{% load static %}
    
{% block header %}
{% include "partials/header.html" %}
{% endblock header %}

{% block banner %}
{% include "partials/banner.html" %}
{% endblock banner %}
   
{% block services %}
{% include "partials/services.html" %}
{% endblock services %}
    
{% block about %}
{% include "partials/about.html" %}
{% endblock about %}
   
{% block product %}
{% include "partials/product.html" %}
{% endblock product %}
   
{% block insta_post %}
{% include "partials/insta_post.html" %}
{% endblock insta_post %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}
   
{% block signup %}
{% include "partials/signup.html" %}
{% endblock signup %}
    
{% block script %}
{% include "partials/script.html" %}
{% endblock script %}
